<div class="header">
    <div class="menu-profile-container">
        <i class="fa-solid fa-bars"></i>
        <img class="profile-picture" src="../../../assets/icons/Sin título-1.jpg" alt="">
    </div>
    <div class="welcome-message-container">
        <h5 class="name">Hi Mr. Michael,</h5>
        <h1 class="message">Welcome Back!</h1>
    </div>
    <div class="search-bar-container">
        <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>            
            <input type="search" class="search-input" placeholder="Search burger, pizza, drink or ect..."/>
          </div>
    </div>
  </div>